<div class="container">
	<h1>Hi I'm Jeffery, <br>Your personal shopping assistant.</h1>
	<h2>I'm free to use, just text <b><a href="sms:16475608790?body=647-560-8790">647-560-8790</a></b> to get started.</h2>
	<img src="bubble.png" alt="">
</div>


