<div class="container">
	<h1>Hi, I'm Jeffery, <br>Your personal shopping assistant.</h1>
	<h2>I'm free to use, just text <b>647-560-8790</b> to get started.</h2>
	<img src="bubble.png" alt="">
</div>
