<div class="container">
<header>
      <h1>Ask Jeffery</h1>
      <h2>Your personnal shoperator, free and easy to use!</h2>
      <h1>Text: 647-559-3374</h1>
      <img src ="Jeff logo@2x.png" alt="">
    </header>
  <h1>Who's Jeffery?</h1>
  <h3>Jeffery is a mobile and web messaging service that helps you find the best gifts for your loved ones.</h3>
 <div class="steps">
	<img src="bubble.png" alt="">
</div>
<section class="quotes">
        <h1>What users are saying<h/1>
        <h2>"Jeffery helped me find the perfect gift for my mom, and it took less than 5 minutes”</h2>
        <h1>Ask Jeffery: 647-559-3374<h/1>
</div>
    </div>
    </section>
