<div class="container">
<header>
      <h1>Ask Jeffrey</h1>
      <h2>Your personnal shoperator, free and easy to use!</h2>
      <h2>Text: 647-560-8790</h2>
      <img src="Jeff logo@2x.png" alt="">
    </header>
  <h1>Who's Jeffrey?</h1>
  <h3>Jeffrey is a mobile and web messaging service that helps you find the best gifts for your loved ones.</h3>
 <div class="steps">
	<img src="bubble.png" alt="">
</div>

<section class="profile clair">
      <div class="content-wrap">
      <div class="quotes">
        <h1>What users are saying<h/1>
        <h2>"Jeffrey helped me find the perfect gift for my mom, and it took less than 5 minutes”</h2>
       <h1>647-560-8790<h/1>
        <img src="Jeff logo black@2x.png" alt="">
        <h2>Text Jeffrey now<h/2>
</div>
      </div>
    </div>
    </section>
