<div class="container">
	<h1>Hi I'm Jeffery, <br>Your personal shopping assistant.</h1>
	<h2>It's free and super simple. Text <b><a href="sms:16475608790?body=647-560-8790">647-560-8790</a></b> to try it now!</h2>
	<img src="bubble.png" alt="">
</div>


