<!DOCTYPE html>
<html>
<head>
  <title>Shoperator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width" />
	<meta property="og:url"                content="http://www.askjeffery.com" />
	<meta property="og:type"               content="article" />
	<meta property="og:title"              content="Ask Jeffery" />
	<meta property="og:description"        content="Your personal SMS shopping assistant" />
	<meta property="og:image"              content="http://i.imgur.com/5ls3dLl.png" />
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@SlackShopper">
	<meta name="twitter:creator" content="@SlackShopper">
	<meta name="twitter:title" content="Ask Jeffery">
	<meta name="twitter:description" content="Your personal SMS shopping assistant">
	<meta name="twitter:image" content="http://i.imgur.com/5ls3dLl.png"> 
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
